/* Variables */
font-size = 16px

.font-style
    font-size font-size

/* Nesting */
link-color = #999;
link-hover = #229ed3; /* colons ,semi-colons and brackets are optional */

ul {
    margin: 0
    li {
        float left
    }
    a {
        color link-color
        &:hover {
            color link-color
        }
    }
}

/* Mixins */
bordered(w)
    border: n solid #ddd
    &:hover 
        border-color: #999

h1
    bordered(5px)
    
/* Extends */
.block
    margin 10px 5px

p 
    @extend .block
    border 1px solid #eee

ul
ol
    @extend .block
    color #333
    text-transform uppercase

/* Color Operations */
.color-operators
    color red(#000)
    color green (#000)
    color blue(#000)
    color alpha(#000)
    color dark(#000)
    color light(#000)
    color hue(#000)
    color saturation(#000)
    color lightness(#000)

/* Conditionals */
if lightness (color) > 30%
    background-color black 
else 
    background-color white

/* Iteration */
for num in (1..3)
    .border-{num}
        border 1px * num solid blue

/* Math (see documentation) */

/* Imports (directory, *.styl, *.css)*/
@import "imported.styl"

/******************** 
* STYLUS SPECIFIC 
********************/