/* @at-root
- causes everything within it to be emitted at the root of the document instead of using the normal nesting */
@use "sass:selector";
@mixin unity-parent($child) {
    @at-root #{selector.unify(&, $child)} {
        @content;
    }
}

.wrapper .field {
    @include unity-parent("input") {
        border-color: teal;
        border-radius: 10px;
    }
    @include unity-parent("select") {
        border-color: blue;
        border-radius: 15px;
    }
}