/******************** 
* SASS SPECIFIC 
********************/
/* @use 
- comes before any other rules other than @forward */
@use 'lib/use';

/* @forward
- acts like @use. Styles from a forwarded module will be included from any included modules */
@use 'lib/bootstrap';

li {
    @include bootstrap.list-reset
}

/* @import (use discouraged)
- makes all variables, mixins and functions globally available */
@import 'lib/import';

/* @mixin and @include
 - mixins allow you to define styles that can be re-used throughout your stylesheet */
@mixin new-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include new-list;
    
    li {
        display: inline-block;
        margin {
            left: -2px;
            right: 2em;
        }
    }
}

nav ul {
    @include horizontal-list;
}

/* @function
- allows you to define complex operations on SassScript values that you can re-use throughout your stylesheet */
@function pow($base, $exponent) {
    $result: 1;
    @for $_ from 1 through $exponent {
        $result: $result * $base;
    }
    @return $result;
}

.sidebar {
    float: left;
    margin-left: pow(4, 3) * 1px;
}

/* @extend
- allows you to extend styles from another class 
- resolved after the rest of your stylesheet is compiled*/
.error {
    border: 1px #f00;
    background-color: #fdd;
}

.custom-error {
    @extend .error;

    &--serious {
        @extend .error;
        border-width: 3px;
    }
}

