/* Variables */
$font-size: 16px;

.font-style {
    font-size: $font-size;
}

/* Nesting */
$link-color: #999;
$link-hover: #229ed3;

ul {
    margin: 0;
    li {
        float: left;
    }
    a {
        color: $link-color;
        &:hover {
            color: $link-color;
        }
    }
}

/* Mixins */
@mixin bordered ($width) {
    border: $width solid #ddd;

    &:hover {
        border-color: #999;
    }
}

h1 {
    @include bordered(5px);
}

/* Extends */
.block { margin: 10px 5px }

p {
    @extend .block;
    border: 1px solid #eee;
}

ul, ol {
    @extend .block;
    color: #333;
    text-transform: uppercase;
}

/* Color Operations */
.color-operators {
    color: saturate(#000, 0);
    color: desaturate($color: #000000, $amount: 0);
    color: lighten($color: #000000, $amount: 0);
    color: darken($color: #000000, $amount: 0);
    color: adjust-hue($color: #000000, $degrees: 0);
    color: opacify($color: #000000, $amount: 0);
    color: transparentize($color: #000000, $amount: 0);
    color: mix($color1: #000000, $color2: #000000, $weight: 0.5);
    color: grayscale($color: #000000);
    color: complement($color: #000000);
};

/* Conditionals */
@mixin set-background($color) {
    @if lightness($color) > 30% {
        background-color: black;
    }
    @else {
        background-color: white;
    }
}

/* Iteration */
@for $i from 1px to 3px {
    .border-#{i} {
        border: $i solid blue;
    }
}

/* Math (see documentation) */

/* Imports (directory, *.scss, *.css)*/
@import "imported.scss";