:root {
    --coral: hsl(23, 83%, 82%);
    --coral--b: hsl(23, 99%, 75%);
    --pink: hsl(335, 52%, 92%);
    --pink--b: hsl(335, 82%, 86%);
    --yellow: hsl(42, 97%, 85%);
    --yellow--b: hsl(42, 100%, 73%);
    --green: hsl(100, 64%, 86%);
    --green--b: hsl(100, 41%, 76%);
    --blue: hsl(187, 61%, 79%);
    --blue--b: hsl(187, 54%, 68%);
    --purple: hsl(283, 24%, 86%);
    --purple--b: hsl(283, 43%, 80%);
    --light-gray-blue: hsl(182, 29%, 96%);
    --pageMax: 1260px;
    --headerHeight: 60px;
    --middleHeight: 300px;
    --footerHeight: 100px;
}

.green {
    background-color: var(--green);
}
.yellow {
    background-color:var(--yellow);
}
.purple {
    background-color:var(--purple);
}
.blue {
    background-color: var(--blue);
}
.coral {
    background-color: var(--coral);
}
.pink {
    background-color: var(--pink);
}
