/* Variables */
@font-size: 16px;

.font-style {
    font-size: @font-size;
}

/* Nesting */
@link-color: #999;
@link-hover: #229ed3;

ul {
    margin: 0;
    li {
        float: left;
    }
    a {
        color: @link-color;
        &:hover {
            color: @link-color;
        }
    }
}

/* Mixins */
.bordered (@width) {
    border: @width solid #ddd;

    &:hover {
        border-color: #999;
    }
}

h1 {
    .bordered(5px);
}

/* Extends */
.block { margin: 10px 5px }

p {
    &:extend(.block);
    border: 1px solid #eee;
}

ul, ol {
    &:extend(.block);
    color: #333;
    text-transform: uppercase;
}

/* Color Operations */
.color-operators {
    color: saturate(#000, 0);
    color: desaturate(#000000, 0);
    color: lighten(#000000, 0);
    color: darken(#000000, 0);
    color: fadein(#000, 0);
    color: fadeout(#000, 0);
    color: fade(#000, 0);
    color: spin(#000, 0);
    color: mix(#000000, #000000, 0.5);
    color: grayscale(#000000);
    color: contrast(#000000);
};

/* Conditionals */
.mixin (@color) when (lightness(@color) > 30%) {
    background-color: black;
}
.mixin (@color) when (lightness(@color) =< 30%) {
    background-color: white;
}

/* Iteration */
.loop(@counter) when (@counter > 0){
    .loop((@counter - 1));

    .border-@{counter} {
        border: 1px * @counter solid blue;
    }
}

/* Math (see documentation) */

/* Imports (directory, *.less, *.css)*/
@import "imported.less";

/******************** 
* LESS SPECIFIC 
********************/